* {
  padding: 0;
  margin: 0;
  font-family: "Indie Flower", cursive;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
